@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap");


@import "abstracts/mixin";
@import "abstracts/variables";


@import "base/reset";
@import "base/typography";



@import "layout/header";
@import "layout/client";
@import "layout/practice";
@import "layout/who";
@import "layout/sponsors";
@import "layout/contact";
@import "layout/consultation";
@import "layout/footer";







main {
  background-color: #fafafa;
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0.1rem;
  }
}










