.contact {
    padding: 5rem 0;
    &-title {
      text-align: center;
    }
    &-desc {
      max-width: 500px;
      margin: auto;
      text-align: center;
      margin-bottom: 3rem;
    }
  
    &-item {
      // padding: ;
      display: flex;
      &-box {
        padding: 5rem 0;
        width: 33%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
          width: 64px;
          height: 64px;
          margin-bottom: 2rem;
        }
        &-title {
          // margin-bottom: .5rem;
        }
        &-desc {
          margin-top: 1rem;
        }
        & button {
          margin-top: 1rem;
          @include btn-request();
        }
      }
      &-box:nth-child(2) {
        background-color: #252b42;
        color : #fff;
  
        transform: translateX(-0.8rem);
      //   padding: rem 0;
      }
    }
  }
  
  @media screen and (max-width:768px) {
      .contact{
          &-title{
  
          }
          &-desc{
              max-width: 300px;
              margin: auto;
          }
          &-item{
              flex-direction: column;
              align-items : center;
              &-box{
                  width: 90%;
                  margin: auto;
                  margin-bottom: 1.25rem;
              }
          }
      }
  }