.sponsors {
  position: relative;
    padding: 4rem 0;
    &-images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 200px;
    }
    &-subscribe {
      z-index: 2;
      width: 70%;
      position: absolute;
      bottom:  6% ;
      left :15%;
      // transform: translateX(-50%);
      margin-top: 3rem;
      padding: 2rem 2rem;
      color: #fff;
      background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
      border-radius: 2px;
      display: flex;
      justify-content: space-between;
      &-title {
        // line-height: 32px;
      }
      div {
        input {
          border-radius: 5px;
          background: #f9f9f9;
          padding: 1rem 2rem;
          border: none;
        }
        button {
          color: #fff;
          background-color: $primary-color;
          padding: 1rem 2rem;
          border: none;
          margin-left: -1rem;
        }
      }
    }
    .background{
      position: absolute;
      width: 100%;
      height: 70px;
      background-color: #252B42;
      bottom : 0;
    }
  }
  
  
  @media screen and (max-width:768px) {
      .sponsors{
          &-images{
              flex-direction: column;
              align-items: center;
              img {
                  width: 150px;
                  margin-bottom: 1.25rem;
              }
          }
          &-subscribe{
            position: static;
            width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              &-title{
                  margin-bottom: 2rem;
                  text-align: center;
              }
              &-desc{

              }
              div{
                // background-color: #000;
                display: flex;
                flex-direction: row;
                input{
                  padding: 1rem 1.5rem;
                }
                button{
                  padding: 1rem 1.5rem;
                  // width: 20%;
                }
              }
          }
          .background{
            display: none;
          }
      }
  }